[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zshcustom/plugins/zsh-vi-mode"]
	path = zshcustom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "zsh/custom/plugins/zsh-vi-mode"]
	path = zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
